table, tr td {
   border: 1px solid black;
}

body {
   margin-top: 65px;
}

h1 {
   font-size: 3em;
   max-width: 100%;
   background-color: lightblue;
   text-align: center;
   padding: 2%;
}

.center {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

/* Home Page */
.companyDescription {
   font-size:70%;
   margin: auto;
   width: 60%;
   background-color: beige;
   text-align: center;
   border: 3px solid lightblue;
   padding: 1%;
}

/* Slideshow container */
.slideshow-container {
   max-width: 60%;
   position: relative;
   margin-top:2%;
   margin-left: 20%;

}

.mySlides {
   display: none;
}

.mySlides:first-child {
   display: block;
}

.bottomText {
   margin: auto;
   width: 60%;
   text-align: center;
   padding: 0.5%;
   font-size:0.75em;
}

.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}

.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}

@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}

@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}

/* Products/Individual Product Pages */

.product-img {
   max-width: 50%;
   height: auto;
}

.img-zoom:hover {
   max-width: 60%;
   width: 60%;
   height: auto;
}

.ind-product-table {
   width: 100%;
   border: none;
   text-align: left;
}

.ind-product-table img {
   width: 100%;
   height: auto;
}

.ind-product-table .cell {
   padding: 10px;
   border: none;
}

.order-table {
   width: 90%;
   border: solid 1px gray;
   margin: 10px;
   padding-bottom: 20px;
}

.order-table .cell {
   padding: 10px;
   border: none;
}

.submit {
   padding: 20px;
}

/* Team Page */

.team-table {
   text-align: center;
   width: 70%;
   border: none;
}

.team-item {
   border: none;
}

.team-img {
   width: 300px;
   height:auto;
}



/* top navigational bar + button css assets */
.navbar {
   position: fixed;
   background-color: grey;
   overflow: hidden;

   top: 0;
   left: 0;
   z-index: 1;

   width: 100%;
   height: auto;
}

.navbar a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 20px;
 }

 .navbar-button {
   float: right;
   background-color: transparent;
   border: none;
   padding-top: 10px;
   padding-right: 10px;
 }

 .menu-button {
   border-radius: 50%;
   padding: .15em;
   color: white;
   border: 1px solid white;
   background-color: transparent;
   display: block;
   transition: .5s;
 }

 .menu-button:hover {
   color: black;
   background: white;
   transition: .5s;
}
/* end navigational bar */

 /* collapsible menu css assets */
 .menu {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   background-color: white;
   overflow-x: hidden;
   padding-top: 80px;
   transition: .5s;
   text-align: center;
}

.menu a {
   color: black;
   text-decoration: none;
   padding: 10px;
   display: block;
   transition: .5s;
}

.menu a:hover {
   background-color: #436984;
   color: white;
   transition: .5s;
}

.open-menu-button {
   font-size: 30px;
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   margin: 15px;
   padding: 10px;
   color: black;
}

.open-menu-button:hover {
   color: red;
   transition: .5s;
}

*:focus {
   outline: none;
}
/* end collapsible menu */


/* Responsive design */
* {
   box-sizing: border-box;
 }

[class*="col-"] {  
   float: left;
   width: 100%;
   padding: 15px;
}

@media only screen and (min-width: 600px) {
   /* For tablets: */
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
}

   /* Desktop */
@media only screen and (min-width: 768px) {
   .col-3 {
      width: 25%;
   }

   .col-4 {
      width: 33.33%;
   }

   .col-6 {
      width: 50%;
   }

   .col-9 {
      width: 75%;
   }

   .col-12 {
      width: 100%;
   }
}